<a name="top"></a>

	<header id="header" class="alt">
				<h1><strong><a href="index.html">Weather</a></strong> by Odie</h1>
				<nav id="nav">
					<ul>
						<li><a href="http://openweathermap.org/">Open Weather Map</a></li>
						<li><a href="http://weather.com/">Weather.com</a></li>
						<li><a href="http://www.wunderground.com/">WUnderground</a></li>
					</ul>
				</nav>
	</header>

		
			<section id="curr-weather-banner">
				<a name="top"></a>
				<h2>Current Conditions</h2>
				<h3>{{city}}</h3>
				<p>Temperature: {{weatherData.temp}}&deg</br>
				Weather: {{weatherData.weather}}</br>
				Wind: {{weatherData.wind}} MPH</p>
 
			</div>
				<ul class="actions">
					<li><a href="#/forecast/{{city}}" class="button special big">Forecast</a></li>
                    <li><a href="#/home" class="button special big">Home</a></li>
				</ul>
			</section>

			<footer id="footer">
				<div class="container">
					<!--<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>-->
					<ul class="copyright">
						<li>&copy; OD-Werks</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>