	<header id="header" class="alt">
				<h1><strong><a href="index.html">Weather</a></strong> by Odie</h1>
				<nav id="nav">
					<ul>
						<li><a href="http://openweathermap.org/" target="_blank">Open Weather Map</a></li>
						<li><a href="http://weather.com/" target="_blank">Weather.com</a></li>
						<li><a href="http://www.wunderground.com/" target="_blank">WUnderground</a></li>
					</ul>
				</nav>
	</header>
	<body>
		<A NAME="top">
			<section id="banner">
				<h2>Simple Weather</h2>
				<p>Where you can simply check the current and forecasted weather for any area! <br /> NO POP-UPS, NO ADS...</p>
            <input type="search" class="city-form" ng-model="city" placeholder="  ENTER CITY HERE"/>
			</div>
				<ul class="actions">
					<li><a href="#/current-weather/{{city}}" class="button special big">Current</a></li>
                    <li><a href="#/forecast/{{city}}" class="button special big">Forecast</a></li>
				</ul>
			</section>

			
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Cool Weather Videos</h2>
							<p></p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<iframe width="500" height="350" src="https://www.youtube.com/embed/RDDfkKEa2ls?list=PL0459E5C90A4DFB5E" frameborder="0" allowfullscreen></iframe>
									<!--<h3></h3>-->
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<iframe width="500" height="350" src="https://www.youtube.com/embed/2ZjHWl40XfY" frameborder="0" allowfullscreen></iframe>
									<!--<h3></h3>-->
								</div>
							</div>
						</div>
						<div Class="actions"><a href="https://www.youtube.com/results?search_query=cool+weather+videos" target="_blank" class="button big">More Videos!</a></div>
					</div>
				</section>


				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Thank you for visiting!</h2></br>
							<p>Please send comments via e-mail</p>
						</header>
						<ul class="actions">
							<li><a href="mailto:odie_de_moura@hotmail.com" target="_top" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>
	
			<footer id="footer">
				<div class="container">
					<!--<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>-->
					<ul class="copyright">
						<li>&copy; OD-Werks</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>
</body>